

.button1{
    width: 80px;
    height: 80px;
}
.button2{
    width: 80px;
    height: 80px;
}
.button3{
    width: 80px;
    height: 80px;
}
.button4{
    width: 80px;
    height: 80px;
}
.button5{
    width: 80px;
    height: 80px;
}
.button6{
    width: 80px;
    height: 80px;
}
.button7{
    width: 80px;
    height: 80px;
}
.button8{
    width: 80px;
    height: 80px;
}
.button9{
    width: 80px;
    height: 80px;
}
.button10{
    width: 80px;
    height: 80px;
}
.kichhoat{
    width: 400px;
    height: 100px;
    background-color: rgb(119, 163, 0);
}
