
.card img:hover{
    transform: scale(1.1);
    transition: 500;
}
.card img{
    height: 400px;
    width: 400px;
}

.cursor-p{
    cursor: pointer;
}
.card-text {
    height: 100px;
    width: 300px;

}
.card-title{
    height: 50px;
    width: 600px;
}
